<!--
Here is the main HTML where handlebars will render to
 -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/assets/css/style.css">
		<link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="./bootstrap/dist/css/bootstrap-theme.css">
		<title>MVC With Burger!</title>
	</head>
	<body>
		{{{ body }}}


<script type="text/javascript" src="./jquery/dist/jquery.js"></script>
<script type="text/javascript" src="./bootstrap/dist/js/bootstrap.js"></script>

</body>
</HTML>